/* media per dispositivi fino a 420px */

@media screen and (max-width:820px) {

    body{
        margin: 0;
    }


    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    

    /* lezioni */

    #lezioni .row{
        background-color: rgb(241, 239, 202);
    
    }

    #lezioni .row >.left,
    #lezioni .row>.right {
        float: none;
        width: 100vw;

    }

    #lezioni .row >.left{
        margin-bottom: 30px;
    }

    #lezioni .row>.right {
        margin-bottom: 20px;
    
    }


    /* steps */

    #step .row{
        background-color: white;
        
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right{
        float: none;
        width: 100vw;
    }
}
